In [66]:
import pandas as pd

In [16]:
#Load the dataset, use encoding 'latin-1' to appropriately load the dataset
df=pd.read_csv('FBS.csv',encoding='latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [17]:
df.shape

(60943, 12)

### Q1:
What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [128]:
missing_2014=df['Y2014'].isna().sum()

pct_missing=((missing_2014/len(df))*100).round(3)

print(f'percentage of missing data in 2014= {pct_missing}%')
print(f'number of missing data in 2014= {missing_2014}')

percentage of missing data in 2014= 2.607%
number of missing data in 2014= 1589

### Q2
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  
Which of these Areas had the highest sum in 2017?

In [82]:
selected_cols=df[['Y2017','Area']]

#we can get the maximum in 2 ways, first using the idxmax() method
selected_cols.groupby('Area')['Y2017'].sum().idxmax()

'Nigeria'

In [84]:
#or just sort the values and select the first row
selected_cols.groupby('Area')['Y2017'].sum().sort_values(ascending=False).head(5)

Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Ethiopia         448683.76
Morocco          388495.36
Name: Y2017, dtype: float64

### Q3
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  
Which of these Areas had the 7th lowest sum in 2017?

In [97]:
selected_cols2=df[['Y2017','Area']]

#we can do this by taking the 7th row in the series or also using the idxmax() as well
selected_cols2.groupby('Area')['Y2017'].sum().sort_values().head(7)

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [129]:
#using idxmax()
selected_cols2.groupby('Area')['Y2017'].sum().sort_values().head(7).idxmax()

'Guinea-Bissau'

### Q4 
Which year had the least correlation with ‘Element Code’?

In [133]:
#We are only interested in 'Year' and Element Code
columns=['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018','Element Code']

#find the correlation between them

corr=df[columns].corr()
corr

                 Y2014     Y2015     Y2016     Y2017     Y2018  Element Code
Y2014         1.000000  0.994647  0.996081  0.995230  0.994872      0.024457
Y2015         0.994647  1.000000  0.995739  0.988048  0.988208      0.023889
Y2016         0.996081  0.995739  1.000000  0.992785  0.992757      0.023444
Y2017         0.995230  0.988048  0.992785  1.000000  0.998103      0.024254
Y2018         0.994872  0.988208  0.992757  0.998103  1.000000      0.024279
Element Code  0.024457  0.023889  0.023444  0.024254  0.024279      1.000000

In [134]:
#we are interested in the least correlation in the 'Element Code' field.
#to get this index, we use idxmin()
corr['Element Code'].idxmin()

'Y2016'

### Q5
Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [109]:
#since we are interested in the years and the datatype contained are floats, we can select these columns and assign
#them to a variable
cols=df.select_dtypes('float').columns
print(cols)

#groupby Element and find the sum of each of the years
df.groupby('Element')[cols].sum()

Index(['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'], dtype='object')

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [111]:
#but we are interested in 'Stock Variation' among the elements. 'Stock Variation' is in the index, we can access this
#using loc.
df.groupby('Element')[cols].sum().loc['Stock Variation',:]

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
Name: Stock Variation, dtype: float64

In [112]:
#to get the maximum, we can sort the series or we can just use idxmax(), it returns the maximum index instead
#of the value
df.groupby('Element')[cols].sum().loc['Stock Variation',:].idxmax()

'Y2014'

### Q6
Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [115]:
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [117]:
#to access the index 'Processing', we can use loc
df.groupby('Element')['Y2017'].sum().loc['Processing']

292836.0

### Q7
What is the total number of unique countries in the dataset?

In [118]:
df['Area'].nunique()

49

### Q8
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [119]:
print(f"standard deviation= {round(df['Y2017'].std(),2)}")
print(f"mean= {round(df['Y2017'].mean(),2)}")

standard deviation= 1671.86
mean= 140.92

### Q9
What is the total Protein supply quantity in Madagascar in 2015?

In [124]:
#we can filter the dataset to get data for only Madagascar
df_madagascar=df[df['Area']=='Madagascar']

#we are interested in 'Protein supply quantity (g/capita/day)' in 2015. 
#This is stored as a variable in the column 'Element'

df_madagascar_protein=df_madagascar[df_madagascar['Element']=='Protein supply quantity (g/capita/day)']['Y2015']

round(df_madagascar_protein.sum(),2)

173.05

### Q10
What is the total sum of Wine produced in 2015 and 2018 respectively?

In [126]:
#the variable 'Wine' is stored in the Item column

#we can follow a systematic process just like we did in question 8 or just write a single line of code to get 
#the answer

df.groupby('Item')[['Y2015','Y2018']].sum().loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64